/* general setup */
:root{
    font-family: 'myFont';
    --fs : 0.7rem;
    font-size: 1.2rem;
    --img-backGround : url("./assets/images/bg-light-correction.jpg");
    --list-backGround-color :  rgb(41, 78, 114);
}

*{
    margin:0;
    padding:0;
    direction: rtl;
    box-sizing:border-box;
}
@font-face {
    font-family: 'myFont';
    src: url(./font/sahel-font-v1.0.0-alpha14/Sahel-Black.woff);
}

body{
    background: var(--img-backGround) rgb(15, 1, 1) no-repeat 0 0 / 100vw 50vh ;
    width: min(85%,800px);
    min-height: 100%;
    margin: auto;
    padding-top: 7rem;
}

button{
    background: transparent;
    border: none;
    font:inherit;
    user-select: none;
    display: flex;
}

input{
    background: transparent;
    border: none;
    font: inherit;
}

ul{
    list-style: none;
}
/* header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* add task */
.addTask{
    background-color: var(--list-backGround-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem 0.5rem;
    margin: 4rem 0 2.5rem 0;
    border-radius: 1rem;
    gap: 1rem;
}

.addTask .addBtnContainer{
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border: solid 0.1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addTask .addBtnContainer:hover{
    background-color: rgb(0, 136, 255);
}

.addTask .addBtnContainer button{
    justify-content: center;
    align-items: center;
}
.addTask input{
    flex-grow: 2;
    padding: .5rem .5rem;
    font-size: var(--fs);
}

/* added task */

li.item{
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--list-backGround-color);
    padding: 0.8rem 0.5rem;
}

li.item p{
    text-align: right;
    flex-grow: 0.8;
}

.addedTask{
    max-height: 400px;
    overflow: scroll ;
}
.addedTask.showCompleted .item:not(.completed){
    display: none;
}

.addedTask.showActive .item.completed{
    display: none;
}

.addedTask li:first-child{
    border-radius: 1rem 1rem 0 0;
}

ul.addedTask > * + *{
    border-top: solid rgb(255, 255, 255);
}

.item button{
    box-sizing: border-box;
    opacity: 0;
    transition: 0.5s;
}

.item:hover button{
    text-decoration-line: none;
    opacity: 1;
    color: white;
}

.taskManager{
    font-size: var(--fs);
    border-radius: 0 0 1rem 1rem;
    padding: 10px 3px 10px 0;
    border-top: 2px solid white;
    background-color: var(--list-backGround-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.taskManager div{
    display: flex;
    flex-direction: row;
    flex: 0.8;
    justify-content: space-around;
}

.completed > p{
    text-decoration: line-through;
}

.BtnsTaskManager button:hover{
    scale: 1.4;
    transition: 0.2s;
    cursor: pointer;
    color: white;
}

.BtnsTaskManager button.active{
    transition: 0.2s;
    color: goldenrod;
    text-shadow: 2px 2px blue ;
}


.modyfiy{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5px;
    flex-grow: 1;
    max-width: 50px;
}

.hideInput{
    scale: 0;
    width: 0px;
}

.active .hideInput{
    scale: 1;
    width: auto;
    transition: 0.3s;
    background-color: white;
}